.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0c131b, #1f2a38, #3c4f5e);

}

.main-image {
  display: flex;
  justify-content: center;
}

.main-image img {
  width: 100%;
  max-width: 700px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}


.button-section {
  margin-top: 2rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  padding-bottom:'2rem';
}

.intro-button{
  height: fit-content;
}